.allitems-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
}

.all-items-card-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.allitems-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: grid;
  place-items: center;
  height: 44px;
  width: 44px;
  background: #014a40;
  color: var(--font-primary);
  border-radius: 50%;
  font-size: 28px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-item-choice {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 150px;
  overflow: scroll;
  padding: 0px 0px;
}

.nav-item-choice span {
  display: flex;
  flex-direction: row;
  gap: 4px;
  font-weight: 600;
  font-size: 18px;
  color: #dcdbd9;
}
