.allitems-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
}

.all-items-card-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.allitems-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: grid;
  place-items: center;
  height: 44px;
  width: 44px;
  background: #014a40;
  color: var(--font-primary);
  border-radius: 50%;
  font-size: 28px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
