.edit-profile-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  gap: 12px;
}

.edit-profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-profile-header span {
  width: 32px;
  height: 32px;
  background: #fffcfa;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 22px;
}

.edit-profile-header p {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.edit-profile-header button {
  width: 71px;
  height: 29px;
  background: #4ae199;
  border-radius: 27px;
  font-weight: 600;
  font-size: 18px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}

.add-photo-container {
  display: flex;
}

.add-photo-container

.add-photo-container div p:nth-child(1) {
  font-weight: 600;
  font-size: 11px;
  color: #000000;
}
