.header-nav-container {
  display: flex;
  align-items: center;
  /* position: relative; */
  justify-content: space-between;
  margin-bottom: 20px;
  height: 35px;
}

.header-back {
  color: var(--primary-color);
  font-size: 24px;
  margin-right: 4px;
}

.header-nav-name {
  margin: auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
}

.plus-button {
  display: grid;
  place-items: center;
  width: 28px;
  height: 28px;
  background: #ffbb7c;
  border-radius: 50%;
  font-size: 12px;
  color: var(--font-primary);
}
